<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.animen.com.xiaoyutask">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="AINEMO_APP_ID" -->
        <!-- android:value="B7XFT0B5M3PFO8TMPDQRQLZECHT0LJZPTK15YTUD/BO=" /> -->

        <activity android:name="com.example.franklin.myclient.view.MainActivity"></activity>
        <activity android:name="com.example.franklin.myclient.view.Contact.ContactActivity" />
        <activity android:name="com.example.franklin.myclient.view.JujiaActivity" />
        <activity android:name="com.example.franklin.myclient.view.Login.LoginActivity" />

        <!-- 小鱼呼叫Service -->
        <!-- <service -->
        <!-- android:name="com.ainemo.sdk.service.NemoAppService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->


        <!-- &lt;!&ndash; 注意： 此处需设置 APP_ID &ndash;&gt; -->
        <!-- <action android:name="intent.BMSSFXXMPAKT.SERVICE_START" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <activity android:name="com.example.franklin.myclient.view.Setting_Activity" />
        <activity android:name="com.example.franklin.myclient.view.Case.CaseListActivity" />
        <activity android:name="com.example.franklin.myclient.view.Case.CaseDetailActivity" />
        <activity android:name="com.example.franklin.myclient.view.Login.RegisterActivityFirst" />
        <activity android:name="com.example.franklin.myclient.view.Login.RegisterActivitySecond" />
        <activity android:name="com.example.franklin.myclient.view.Login.RegisterActiviootyLast" />
        <activity android:name="com.example.franklin.myclient.view.Change.ChangeXiaoYuActivity" />
        <activity android:name="com.example.franklin.myclient.view.Change.ChangeEmailActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <!-- <activity android:name="com.example.franklin.myclient.view.SuitLineActivity"/> -->

        <activity
            android:name="com.example.franklin.myclient.xiaoyu.BusinessActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <service android:name="com.example.franklin.myclient.xiaoyu.IncomingCallService" />

        <activity android:name="com.example.franklin.myclient.First">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.franklin.myclient.view.DoctorActivity"></activity>
    </application>

</manifest>