<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.animen.com.xiaoyutask">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--个推服务-->
    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 个推3.0电⼦围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.victor.myclient.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name="com.victor.myclient.activity.MainActivity"
          android:launchMode="singleInstance" android:screenOrientation="portrait"
            />
        <activity android:name="com.victor.myclient.activity.contact.ContactActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.JujiaActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.login.LoginActivity" android:screenOrientation="portrait"/>

        <service android:name="com.victor.myclient.service.IncomingCallService" android:screenOrientation="portrait"/>

        <activity android:name="com.victor.myclient.activity.setting.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.cases.CaseListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.cases.CaseDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.login.RegisterFirstActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.login.RegisterLastActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.setting.ChangeXiaoYuActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.setting.ChangeEmailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.victor.myclient.activity.FirstActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.victor.myclient.activity.cases.DoctorActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.victor.myclient.activity.contact.NewContactorActivity" android:screenOrientation="portrait" />
        <activity android:name="com.victor.myclient.activity.xiaoyu.VideoActivity"
           />
        <activity android:name="com.victor.myclient.activity.xiaoyu.IncommingAcivity" />
        <activity android:name="com.victor.myclient.activity.login.ForgetPwdActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.victor.myclient.activity.homeservices.ServiceHistoryActivity" android:screenOrientation="portrait"/>

        <activity android:name="com.victor.myclient.activity.homeservices.ImageDetailActivity" android:screenOrientation="portrait"/>
        <service android:name="com.victor.myclient.service.MyPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"
            />
        <service android:name="com.victor.myclient.service.MyIntentService"/>
    </application>

</manifest>